$colors: (
	placeholder: #B7B7B7,
	font: #3B3B3B,
	error: #F83636,
	success: #78D6A2,
	inputBgc: white,
	inputFont: #767676,
	formBgc: #193441,
	labelFont: #273466,
	avator: #BE76C0
);

$pseudo-phprefix: "::-webkit-input-placeholder", "::-moz-placeholder", ":-ms-input-placeholder", "::placeholder";